.recrutement{
	text-align: center;
	font-size: 14px;
}

.recrutement h3{
  color: #008EB4;
}

.competences{
  margin: 70px 0px 20px 0px;
}

.border-line {
  border: 1px solid #E9E9E5;
  box-shadow: 0 1px 1px 0px black;
}
